#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=Google Sheets
Exec=/opt/google/chrome-beta/google-chrome-beta --profile-directory=Default --new-window https://docs.google.com/spreadsheets/create
Icon=chrome-lcahnhkcfaikkapifpaenbabamhfnecc-Default
StartupWMClass=crx_lcahnhkcfaikkapifpaenbabamhfnecc
# "https://spreadsheets.google.com/ccc?new"
