#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=Google Drawings
Exec=/opt/google/chrome-beta/google-chrome-beta --profile-directory=Default --app-id=nhnlaajhooedenigjebndbgkkbcclknf
Icon=chrome-nhnlaajhooedenigjebndbgkkbcclknf-Default
StartupWMClass=crx_nhnlaajhooedenigjebndbgkkbcclknf
